body {
  font-family: Roboto;
  color: #fff;
  background: #333;
}

a {
  margin: 0 42%;
}


/*===============================
          SEARCH
=================================*/
.hide {
  display: none;
}

.info {
  text-align: center;
}

.artistPic{
  height: 50%;
  width: 50%;
  margin: 5% 25%;
}

#searchArtist {
  padding:20px;
}

#searchArtist .wrapper {
  margin: 0 auto;
}

#searchArtist .wrapper h1 {
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  padding: 30px 0px;
  color: rgb(223, 82, 16);
  font-family: 'Dosis', sans-serif;
}

input {
  width: 100%;
  border-radius: 50px;
  -webkit-appearance: none;
  border: 1px solid #d6d6d6;
  padding: 10px 30px;
  font-size: 21px;
  font-weight: 300;
  font-family: Roboto;
  text-align: center;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #b8b8b8;
  font-family: Roboto;
  text-align: center;
}

#searchArtist .wrapper #btnSearch {
  width: 150px;
  color: #fff;
  font-size: 20px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

/*===============================
         ALBUMS
=================================*/
.headingBio {
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
}

.artistInfo {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #d6d6d6;
  padding: 15px;
  margin: 10px;
  border-radius: 30px;
}

#albumListContainer {
  margin-top: 50px;
}

#albumListContainer .albumItem {
  padding: 20px 0;
  background: #f7f7f7;
  border-top: 1px solid #dedede;
  text-align: center;
}

#albumListContainer .albumItem .itemThmb {
  width: 100px;
  height: 100px;
  margin:0 auto;
  background-size: cover;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  
}

.itemThmb:hover {
  transform: scale(1.03);
  background-size: cover;
  image-rendering: pixelated;
  background-repeat: no-repeat;
}


#albumListContainer .albumItem .itemTitle {
  font-size: 20px;
  padding: 20px 0 10px;
  text-align: center;
  color: #333;
  
}

#albumListContainer .albumItem .itemPrice {
  text-align: center;
  color: #666;
  font-size: 14px;
}

#albumListContainer .albumItem a {
  background: #fff;
  color: #333;
  padding: 5px 10px;
  font-size: 12px;
  display: inline-block;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
}

#notMatch  {
  display:none;
  text-align: center;
}